/*Universal styling */
body {
  font-family: 'Lucida Bright', sans-serif;
  background-color: #f2e9e4;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #4a4e69;
  color: #E6DCE4;
  text-align: center;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #22223b;
  color: #E6DCE4;
  padding: 10px 0;
}

nav li {
  list-style: none;
  display: inline;
  vertical-align: center;
}

nav a {
  color: #E6DCE4;
  font-weight: bold;
  padding: 10px 15px;
  margin: auto;
  text-decoration: none;
}

nav a:hover {
  color: #c9ada7;
}

/*Resume page*/
.resume {
  width: 1000px;
  background-color: #c9ada7;
  color: #22223b;
  padding: 10px;
  margin: 20px 20px;
}

#resume {
  width: 1000px;
  margin: 0 auto;
}

#resume_header, #skills {
  margin: 0 auto;
  width: 945px;
}

.resume-layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1000px;
  margin: 0 auto;
}

#project, #work {
  width: 85%;
}

#leadership {
  width: 71%;
  margin-top: 10 auto;
  order: 1;
}